* {
    margin: 0;
    padding: 0;
}

header {
    background: url(../img/header.jpg) no-repeat center / cover;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a:hover {
    color: aqua;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 58px;
}


.header-text {
    color: #ffffff;
    margin: auto;
    text-align: center;
    padding-bottom: 347px;
}

header .header-text h1 {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    padding-top: 315px;
}

header .header-text p {
    color: #ffffff;
    margin-top: 28px;
    font-size: 20px;
    margin: auto;
    width: 50%;
}

header .container {
    padding-top: 43px;
}

/* header end */
/* ************************* */
/* div start */

.div-center {
    background: antiquewhite;
    height: 141px;
    padding: 1px 9px 4px 139px;
}

.div-center nav ul li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin: 6px;
    padding-top: 68px;
    width: 100%;
}

.div-center nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.div-center nav ul {
    display: flex;
    list-style: none;
}

.div-center .container {
    align-items: center;
    padding-top: 65px;
}

.div-center button {
    color: #ffffff;
    font-size: 14px;
    background: rgb(180, 111, 61);
    padding: 22px 58px 20px 35px;
    margin: auto;
}

.div-center button:hover {
    background: brown;
}

/* div end */
/* ********************************* */
/* section start */

section h6 {
    padding-top: 88px;
    padding-left: 97px;
    color: #424242;
    border: 1px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 97px;
}

section .box {
    width: 100%;
    height: 2px;
    background: #cccccc;
    margin-left: 45px;
}

section .section-block {
    background: #f5f6f7;
    border: 5px solid rgb(253, 38, 0);
    transition: 5s;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px 20px 18px;
    margin-bottom: 61px;
}

section .section-block:hover {
    border: 6px solid #aa9b77;
}

section .section-block select {
    border: none;
    background: transparent;
    margin-right: auto;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    margin-bottom: 55px;
}

section .section-block p {
    font-size: 18px;
    color: #aa9b77;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 5px;
}

section .section-block p span {
    font-size: 22px;
    color: #424242;
    
}

section img{
    width: 100%;
    padding: 0px 89px 0px 73px;
}

section .section-block img{
    height: 221px;
    object-fit: contain;
}

/* section end */
/* ********************************  */
/* main start  */

main h1{
    color: #837659;
    font-size: 26px;
    padding-bottom: 89px;
    text-align: center;
    padding-top: 68px;
}

main p{
    width: 30%;
  margin: auto;
  text-align: center;
  padding-bottom: 146px;
}

main{
    background: #aa9b77;
}

/* main end */
/* ******************** */
/* divs start */

section .logo{
    width: 10%;
}

.div-box{
    background: #6c6c6c;
    padding-top: 7px;
    padding-bottom: 1px;
}

